{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <div class="jumbotron mt-4">
        <div class="container">
            <img style="max-width: 100%; object-fit: contain" src="{{ game.image }}" alt="">
        </div>
    </div>

    <h1>PAGE DE MON ARTICLE</h1>
    <h3>{{ game.name }}</h3>

    <p>{{ game.support }} / {{ game.price }}€</p>
    <p>{{ game.type }}</p>
</div>
{% endblock body %}

