{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-4">
    <h1>Bienvenue sur mon site !!</h1>
    <p>Liste de mes jeux</p>

        <div class="row">

        {% for game in games %}

            {% if game.support == filter or filter == 'All' %}
                <div class="col-md-3">
                    <div class="card" style="width: 100%">
                        {% if game.image is defined %}
                            <img src="{{ game.image }}" class="card-img-top">
                        {% else %}
                            <img  class="card-img-top" src="{{ asset('assets/images/image-not-found.png') }}" alt="">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ path('article', {name: game.name}) }}">{{ game.name }}</a></h5>
                            <p class="card-text">Support: {{ game.support }}</p>
                            <p class="card-text">{{ game.price}}€ genre: {{ game.type }}</p>
                        </div>
                    </div>
                </div>

            {% endif %}
        {% endfor %}
        </div>
</div>
{% endblock body %}
