{% extends 'base.html.twig' %}
{% block body %}
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">{{ site }}</span>
</nav>
<div class="container">
    <h1>Bienvenue sur mon site !!</h1>
    <p>Liste de mes jeux</p>

        <div class="row">

        {% for game in games %}
            {% if game.support == filter %}
                <div class="col-md-3">
                    <div class="card" style="width: 100%">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ path('article', {name: game.name}) }}">{{ game.name }}</a></h5>
                            <p class="card-text">Support: {{ game.support }}</p>
                            <p class="card-text">{{ game.price}}€ genre: {{ game.type }}</p>
                        </div>
                    </div>
                </div>

            {% endif %}
        {% endfor %}
        </div>
</div>
{% endblock body %}
